<div dir="rtl">
<h2> ۱.۵ پاکسازی داده </h2>
</div>

<a href="https://www.youtube.com/watch?v=dv0-QutyL90&list=PLY_JJbHwd6kftjlcbtChIKZfEPEfFRGcY&index=10&ab_channel=TheInternationalJournalists%27Network">
<img src="https://dotnet-talk.com/images/icfj/1_5.jpg" width="50%" alt="پاکسازی داده ها - ویدیو" />
</a>

<div dir="rtl">
در درس‌های قبل گفتیم قبل از این که بتوانیم از `پانداس` روی کامپیوترمان استفاده کنیم، باید آن را
نصب کنیم. در این درس پیش‌فرض ما این است که این پکیج را نصب شده داریم. 
 </div>

In [ ]:
import pandas as pd

## مقدمه

داده‌ها در جهان حقیقی به هم‌ریخته و نامرتب هستند. به عنوان مثال، داده‌های تجاری معمولا به صورت دستی و توسط انسان‌ها وارد می‌شوند و انسان‌ها در وارد کردن داده معمولا از یک روش یک‌دست استفاده نمی‌کنند. مثلا هنگام وارد کردن نام شرکت‌ها ممکن است گاهی نام شرکت «اپل» را به صورت

`Apple, Inc.`

و گاهی به صورت

`Apple`

وارد کنند. اگر بخواهیم ببینیم در یک داده چندبار نام شرکت 

`Apple`

درج شده، طبیعتا دفعاتی که نام این شرکت به صورت 

`Apple, Inc.`

درج شده، محاسبه نمی‌شود و رقم نهایی صحیح نخواهد بود.

خوشبختانه، می‌توانیم با پاکسازی داده، این مسئله را حل کنیم. در این درس از ترکیبی از داده‌های مربوط به شرکت‌ها استفاده می‌کنیم که اخیرا به منظور انجام تحقیقات نظارتی تهیه شده‌اند. ما می‌خواهیم میانگین درآمد مالیاتی حوزه‌های صنعتی مختلف این مجموعه‌داده را بررسی کنیم.

## تحقیقات نظارتی: تحلیل درآمد مالیاتی

با استفاده از روش پاکسازی داده به صورت عملی، به درک بهتری از این فرآیند خواهید رسید. پاکسازی داده حاوی مفاهیم کلیدی‌ای است که بعدتر به آن‌ها خواهیم پرداخت، اما به طور کلی، پاکسازی‌داده مبتنی بر درک دقیق و عمیق داده‌هایی است که در اختیار داریم. با بررسی داده‌ها و تمرکز بر این‌که به دنبال چه چیزی هستیم، می‌توانیم روند پاکسازی داده را تعیین کنیم.

ابتدا داده‌مان را بارگذاری می‌کنیم و نگاهی به آن می‌اندازیم.

In [ ]:
investigation_companies = pd.read_csv('../input/investigation_iran_companies.csv',index_col = [0])
display(investigation_companies)

با نگاهی به این مجموعه‌داده متوجه می‌شویم که نام برخی شرکت‌ها بیش از یک‌بار و با نوشتار مختلف درج شده است. به عنوان  مثال، سطور ۱۸ و ۴۴ هر و به یک شرکت (آرتا انرژی) و سطور ۳ و ۲۹ هم به یک شرکت مشخص (داروسازی امین) اشاره داند. ما باید این شرکت‌ها را یک‌دست بکنیم تا بتوانیم میانگین درآمد آن‌ها را به درستی اندازه بگیریم.

#### حذف موارد تکراری

این مجموعه داده بزرگ نیست و می‌شود این کار را به صورت دستی هم انجام داد. با این‌حال، این‌جا ما به روش اتوماتیک این کار را انجام می‌دهیم تا شما مهارت لازم برای کار با داده‌های بزرگتر را به دست بیاورید. 

در قدم اول، سراغ شرکت‌هایی می‌رویم که نامشان بیش از یک‌بار ولی با یک نوشتار یک‌شکل در این مجموعه داده آمده. برای این کار از تابع 

`drop_duplicates`

در

`pandas`

استفاده می‌کنیم.

In [ ]:
investigation_companies_dropped = investigation_companies.drop_duplicates(subset = 'company_name')
display(investigation_companies_dropped)
len(investigation_companies_dropped)

حال تعداد سطور ما به ۴۵ عدد رسیده است. ولی همچنان می‌بینیم که این داده حاوی موارد تکراری است؛ به عنوان مثال «داروسازی تهران». حال باید به روشی این اسامی را یکسان‌سازی کنیم. به عبارت دیگر، باید اطمینان حاصل کنیم که هر زمان دو سطر به یک شرکت واحد اشاره داشتند و فارغ از این‌که نوع نوشتار آن‌ها در ستون

`company_name`

متفاوت است، هر دو سطر دارای یک

`company_id`

واحد باشند. به این روش می‌توانیم مشکل نوشتار «آرتا انرژی» حل خواهد شد. 

البته در نظر داشته باشید که این روش برای برخی موارد دیگر به کار نمی‌آید. به عنوان مثال، سطور ۱۵ و ۴۱ به شرکت «استیل پرشین گلف» اشاره دارد اما نام این شرکت در سطر ۱۵ به صورت

"persian gulf steel & co." 

و در سطر ۴۱ به صورت

"persian gulf steel"

درج شده. شاید بتوان از ستون

`ceo_name`

برای حل این مسئله استفاده کرد. به عبارتی بیاییم و شرکت‌هایی را که نام مدیرعاملشان یکی است، یک شرکت واحد در نظر بگیریم. البته این مستلزم آن است که یک شخص، هم‌زمان مدیرعامل دو شرکت متفاوت نباشد.

In [ ]:
investigation_companies_dropped = investigation_companies.drop_duplicates(subset = 'ceo_name')
display(investigation_companies_dropped)
print(len(investigation_companies_dropped))

با این‌روش فقط دو سطر را حذف کردیم. ممکن است دلیلش این باشد که در برخی موارد نام مدیرعامل با حروف بزرگ انگلیسی و گاه با حروف کوچک نوشته شده است. برای حل این مسئله، یک ستون تازه می‌سازیم و تمام اسامی را با حروف کوچک در آن درج می‌کنیم. حال احتمالا می‌توانیم موارد تکراری بیشتری را حذف کنیم.

In [ ]:
investigation_companies_dropped = investigation_companies
investigation_companies_dropped['ceo_name_lower'] = investigation_companies_dropped['ceo_name'].str.lower()

In [ ]:
investigation_companies_dropped = investigation_companies_dropped.drop_duplicates(subset = 'ceo_name_lower')
display(investigation_companies_dropped)
print(len(investigation_companies_dropped))

می‌بینیم که موارد تکراری بیشتری حذف نشد. موضوع چیست؟ با کمی دقت متوجه می‌شویم که نحوه نوشتن نام مدیر عامل متفاوت است. به عنوان مثال در یک مورد نام مدیرعامل «استیل پرشین گلف» به صورت

abdollah azimi

و در مورد دیگر به صورت

azimi abdollah

نوشته شده است. باید این ستون را یک‌دست کنیم تا در موارد اسامی مشترک، هر بار که آن نام در مجموعه داده می‌آید، یک ترتیب واحد (نام و نام خانوادگی) را دنبال کند. برای انجام این کار می‌توان با کمک تابعی نام‌ها را به ترتیب حروف الفبا مرتب کنیم. این تابع تمامی اسامی مشترک را (فارغ از این‌که به صورت نام و نام خانوادگی یا نام خانوادگی و نام نوشته شده باشد) یک‌دست می‌کند.

In [ ]:
def put_names_in_order(ceo_name):
  name_list = ceo_name.split() #make the two names of the CEO into a list
  name_list.sort() #Put the names in order
  return ' '.join(name_list) #Put the names back together as a single string

In [ ]:
investigation_companies_dropped = investigation_companies
investigation_companies_dropped['ceo_name_lower_ordered'] = investigation_companies_dropped.apply(lambda row: put_names_in_order(row['ceo_name_lower']), axis = 1)

احتمالا حال دیگر تمامی اسامی مدیران عامل را یک‌دست کرده‌ایم. حال ببینیم آیا می‌توانیم با استفاده از ستون

`ceo_name_lower_ordered`

موارد تکراری را حذف کنیم.

In [ ]:
investigation_companies_dropped = investigation_companies_dropped.drop_duplicates(subset = 'ceo_name_lower_ordered')
display(investigation_companies_dropped)
print(len(investigation_companies_dropped))

حال سطرهای بیشتری را حذف کرده‌ایم و در مجموع ۲۷ سطر داریم. با این روش موارد تکراری بسیاری را حذف کردیم.

#### تغییر نوع داده

حال می‌رویم سراغ محاسبه میانگین درآمد مالیاتی شرکت‌های بیمه موجود در این مجموعه داده.

In [ ]:
investigation_companies_dropped[investigation_companies_dropped['sector'] == 'Insurance']['tax_revenue'].mean()

این جا یک پیام خطا دریافت کردیم: 

TypeError: Could not convert $30000000 to numeric

این خطا به یک مورد کلیدی در پاکسازی داده اشاره دارد: این‌که از صحیح بودن نوع داده‌مان اطمینان حاصل کنیم. در این مورد، مشکل اینجاست که نوع داده ستون

tax_revenue

str (String)

یا همان رشته است. برای محاسبه میانگین این ستون، باید ارزش این ستون را به ارزش عددی تغییر بدهیم. برای انجام این کار، باید این کارها را بکنیم:

۱. علامت دلار را از هر رشته حذف کنیم.

۲. پس از حذف این علامت، این رشته را به عدد صحیح تبدیل کنیم.

In [ ]:
investigation_companies_dropped['tax_revenue'] = investigation_companies_dropped['tax_revenue'].apply(lambda row: row.replace("$",""))
investigation_companies_dropped['tax_revenue'] = investigation_companies_dropped['tax_revenue'].astype('int64')

حال می‌بینیم که ستون درآمد مالیاتی دیگر علامت دلار ندارد و نوعش نیز به عدد صحیح یا همان

integer

تغییر کرده است.

In [ ]:
investigation_companies_dropped['tax_revenue']

حال می‌توانیم میانگین مدنظرمان را محاسبه کنیم:

In [ ]:
investigation_companies_dropped[investigation_companies_dropped['sector'] == 'Insurance']['tax_revenue'].mean()

#### یک مورد پیشرفته: مطابقت به روش «فازی»

مطابقت به روش فازی برای حل مشکلات پیچیده‌تر در حوزه پاکسازی داده، روش بسیار مناسبی است. این روش خصوصا زمانی به کار می‌اید که ما داده‌های به هم‌ریخته و ناهمگون مواجهیم. روش فازی با پیدا کردن داده‌های رشته‌ای که تا حدی با هم مطابقت دارند - حتی اگر نوع نوشتار، املا، فرمت و ... آن‌ها متفاوت باشد - کار پاکسازی داده را برای شما آسان‌تر می‌کند. 

یکی از کتابخانه‌های پرمخاطب روش فازی در پایتان

`fuzzywuzzy`

است. این کتابخانه حاوی توابع و الگوریتم‌های مختلف برای مطابقت دادن رشته‌ها با یکدیگر است. به کمک این کتابخانه می‌توانید رشته‌ها را با هم مقایسه و مشابهت آن‌ها را بررسی کنید. 

برای کار با این کتابخانه ابتدا باید به روش زیر آن را نصب کنید:

In [ ]:
!pip install fuzzywuzzy

پس از نصب آن، می‌توانید پکیج را بارگذاری و از توابع آن در کدنویسی خود استفاده کنید. این یک مثال برای استفاده از روش فازی از طریق این پکیج است:

In [ ]:
from fuzzywuzzy import fuzz

# Compare two strings and get their similarity score
string1 = "Apple"
string2 = "Apples"
similarity_score = fuzz.ratio(string1, string2)
print(similarity_score)

کد بالا، بر اساس میزان مطابقت دو رشته با یکدیگر به آن از صفر تا ۱۰۰ امتیاز می‌دهد.

امیدوارم از این درس لذت برده باشید. با پاکسازی داده خود می‌توانید کار تحلیل را شروع کنید و به نتایج جالبی دست پیدا کنید.